@tailwind base;
@tailwind components;
@tailwind utilities;
body{
direction:rtl;
  font-family: Yekan;
}

@font-face {
  font-family: Yekan;
  src: url("../../src/assets/fonts/yekan/Yekan.woff2")

  ;
  }

  h1,h2{
    font-size:36px;
;  }

  span{
    font-size:18px;

  }